{% for BorrowingHistor2 in BorrowingHistor2s %}

<div class="card" style="background-color: #842B00; margin-bottom: 10px; margin-left: 20px; margin-right: 20px;">
    <div class="card-header" style="padding: 10px;">
        <p style="font-family: 微軟正黑體; font-size: 14pt; font-weight: bold; color: #FFF4C1; margin-top: 10px;">
            <a href="/BorrowingHistory/{{BorrowingHistory.book}}" style="font-family: 微軟正黑體; font-size: 20pt; font-weight: bold; color: #FFF4C1; padding: 10px; display: inline;">{{BorrowingHistory.book}}</a>
            <span style="font-family: 微軟正黑體; font-size: 12pt; font-weight: bold; color: #FFF4C1; margin-left: 15px; margin-top: 0; margin-bottom: 0; margin-right: 20px;">作者：{{BorrowingHistory.book}}</span>
        </p>
        <p style="font-family: 微軟正黑體; font-size: 12pt; font-weight: bold; color: #FFF4C1; margin-left: 10px;">
            {{BorrowingHistory.formatted_is_borrow|safe}}
        </p>

{% endfor %}