<!-- 在您的 templates/book_search.html 中 -->

{% extends 'base.html' %}

{% block content %}
  <h1>Search Results</h1>

  {% if posts %}
    <ul>
      {% for post in posts %}
        <li>
          <h2>{{ post.title }}</h2>
          <p><strong>書名：</strong> {{ post.title }}</p>
          <p><strong>作者：</strong> {{ post.write }}</p>
          <p><strong>建議價格:</strong> {{ post.intro }}</p>
          <p><strong>借閱狀態:</strong> {{ post.formatted_is_borrow|safe }}</p>
          
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No results found for "{{ query }}"</p>
  {% endif %}

  <!-- 例子：在您的模板中的表單 -->
  <form action="{% url 'book_search' %}" method="get">
    <input type="text" name="query" />
    <input type="submit" value="Search" />
  </form>
{% endblock %}
