{% extends "base.html" %}
{% block title %}頂級小海圖書館{% endblock title %}
{% block headmessage %}
    <div class="card" style="background-color:#FFA042;">
        <div class="card" style="background-color:#842B00;">
            <h3 style="font-family:微軟正黑體; color:#FFF4C1; margin-left: 10px; margin-bottom: 0px; padding: 10px">首頁（好書推薦）</h3>
        </div>
    </div>
{% endblock headmessage %}
{% block content %}
{% for post in posts %}

<div class="card" style="background-color: #842B00; margin-bottom: 10px; margin-left: 20px; margin-right: 20px;">
    <div class="card-header" style="padding: 10px;">
        <p style="font-family: 微軟正黑體; font-size: 14pt; font-weight: bold; color: #FFF4C1; margin-top: 10px;">
            <a href="/post/{{post.slug}}" style="font-family: 微軟正黑體; font-size: 20pt; font-weight: bold; color: #FFF4C1; padding: 10px; display: inline;">{{post.title}}</a>
            <span style="font-family: 微軟正黑體; font-size: 12pt; font-weight: bold; color: #FFF4C1; margin-left: 15px; margin-top: 0; margin-bottom: 0; margin-right: 20px;">作者：{{post.write}}</span>
        </p>
        <p style="font-family: 微軟正黑體; font-size: 12pt; font-weight: bold; color: #FFF4C1; margin-left: 10px;">
            {{post.formatted_is_borrow|safe}}
        </p>
    </div>
    <div class="card-body" style="font-family: 微軟正黑體; color: #FFF4C1; background-color: #D94600; padding: 20px;">
        <p style="font-size: 11pt;">內容簡介：</p>
        <p style="font-size: 13pt;">
            {{post.intro|truncatechars:40}}
        </p>
    </div>
    <div class="card-footer" style="font-family: 微軟正黑體; margin-top: 10px; color: #FFF4C1; background-color: #842B00; padding: 20px;">
        <p style="font-family:微軟正黑體; font-size:12pt; padding: 0px; margin-bottom: 0px;">
            上架時間:{{post.pub_date| date:"Y M d, h:m:s"}}
        </p>
    </div>
</div>


{% endfor %}
<hr>
{% endblock content %}