{% extends 'base.html' %}
{% block title %} {{ post.title }} {% endblock %}
{% block headmessage %}
<div class="card" style="background-color:#c0c0c0;">
    <div class="card"; style="background-color:#E0FFFF;">
        <h3 style="font-family:微軟正黑體; font-size: 25pt; color:#00008B; margin-left: 10px; margin-bottom: 0px; padding: 10px">{{ post.title }}
        <span style="font-family: 微軟正黑體; font-size: 15pt; font-weight: bold; color: #00008B; margin-left: 15px; margin-top: 0; margin-bottom: 0; margin-right: 20px;">作者：{{post.write}}</span>
        
        <a class="btn btn-sm" style="background-color:#00008B; color: #E0FFFF; margin-top: 10px; float: right; margin-top: 0px; margin-right: 0px;" href='/'>回首頁</a>
        <a class="btn btn-sm" style="background-color:#00008B; color: #E0FFFF; margin-top: 10px; float: right; margin-top: 0px; margin-right: 5px;" href='/book_list'>去借閱</a>
        </h3>
    </div>
</div>
{% endblock %}
{% block content %} 
    <div class="row">
        <div class="col-md-6">

            <div class="card" style="font-family:微軟正黑體;font-size:14pt;background-color:#E0FFFF; color:#00008B; padding: 15px; margin-top: 10px;">
                <p style="font-family: 微軟正黑體; font-size: 18pt; font-weight: bold; color: #00008B; margin-top: 20px;">
                    館藏狀態：{{post.formatted_is_borrow|safe}}
                </p>
            </div>
            <div class="card" style="font-family:微軟正黑體;font-size:14pt;background-color:#E0FFFF; color:#00008B; padding: 15px; margin-top: 10px;">
                <p style="font-family: 微軟正黑體; font-size: 18pt; font-weight: bold; color: #00008B; margin-top: 20px;">
                    書籍分類：{{post.category|safe}}
                </p>
            </div>
            <div class="card" style="font-family:微軟正黑體;font-size:14pt;background-color:#E0FFFF; color:#00008B; padding: 15px; margin-top: 10px;">
                <b style="font-family:微軟正黑體; font-size: 18pt; padding: 0px; text-align: flex-start; margin: 0;">詳細介紹：</b>
                    {{ post.body|safe }}
            </div>
            
        </div>
        <div class="col-md-6">
            <div class="card" style="background-color:#E0FFFF; color:#00008B; padding: 10px; text-align: center;">
                <b style="font-family:微軟正黑體; font-size: 18pt;">封面圖片：</b>
                <div style="display: flex; justify-content: center; align-items: flex-start; margin-bottom: 30px;">
                    {{ post.photolink|safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
